/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.metals
.vscode/
**/node_modules
**/dist
**/docs
package-lock.json

bindings/ergo-wallet-lib-ios/.build
bindings/ergo-wallet-lib-ios/build
bindings/ergo-wallet-lib-ios/Packages
bindings/ergo-wallet-lib-ios/*.xcodeproj
bindings/ergo-wallet-lib-ios/xcuserdata/

.idea/

# Gradle files
bindings/ergo-wallet-lib-jni/.gradle/
build/

