/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.metals
.vscode/
**/node_modules
**/dist
**/docs
package-lock.json

bindings/ergo-wallet-ios/.build
bindings/ergo-wallet-ios/build
bindings/ergo-wallet-ios/Packages
bindings/ergo-wallet-ios/*.xcodeproj
bindings/ergo-wallet-ios/xcuserdata/

**/proptest-regressions
.idea/
