/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.metals
.vscode/
**/node_modules
**/dist
**/docs
package-lock.json

# Swift
.build
Packages
*.xcodeproj
xcuserdata/

.idea/

# Gradle files
.gradle/
build/

# ts lsp server logs
.log/
