CONFIGURATION = Release
TARGET_NAME = ErgoWallet
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
VALID_ARCHS = arm64 x86_64
ENABLE_BITCODE = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/../ergo-lib-c/h
OTHER_LDFLAGS = $(inherited) -L"$(SRCROOT)/../../target/universal/release" -lergo_lib_c
PRODUCT_BUNDLE_IDENTIFIER = org.ergoplatform.wallet
FRAMEWORK_VERSION = 0.1.0-pre1

