name: P2P

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test_node:
    name: Run sigma-rust P2P integration tests on ergo-node
    strategy:
      matrix:
        os: [ubuntu-latest]
        scala: [2.12.10]
        java: [adopt@1.8]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2
        with:
          repository: 'kettlebell/ergo'
          fetch-depth: 0
  
      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}
  
      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
              ~/.sbt
              ~/.ivy2/cache
              ~/.coursier/cache/v1
              ~/.cache/coursier/v1
              ~/AppData/Local/Coursier/Cache/v1
              ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
  
      - name: Runs node tests
        run: sbt -Denv=test clean ++${{ matrix.scala }} it:test SigmaRustSpec